// Скидання стилів 
@use "_reset.scss";

// Локальне підключення шрифтів 
@use "_fonts.scss";

@use "sass:math";
// Значення за замовченням  
body {
	color: #000000;
	font-family: 'Playfair Display';
	font-weight: 400;
	font-size: 1rem;
}
.wrapper {
	position: relative;
	//min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
//------------------------------------------------
[class*="__container"] {
	max-width: 66.3125rem;
	padding-left: .9375rem;
	padding-right: .9375rem;
	margin: 0 auto;
}
%buttonMore{
	margin: 0 auto;
	text-align: center;
	font-size: .8125rem;
	color: black;
	padding: .625rem 3.125rem .625rem 3.125rem;
	background-color: inherit;
	border: .0625rem solid #000000;
	transition: background-color 0.6s;
}

// NAV
.nav{
	position: fixed;
	width: 100%;
	background-color: rgb(31, 31, 31);
	z-index: 500;
	&__body{
		color: #ffffff;
		padding-left: 1.6875rem;
		padding-right: 1.6875rem;
		display: flex;
		justify-content: space-between;
		align-items: end;
		row-gap: 1.25rem;
		flex-wrap: wrap;
	}
	& .logo{
		user-select: none;
		/*max-height: 3rem;*/
		font-size: 2.25rem;
		z-index: 800;
	}
	&__list{
		flex-shrink: 1;
		display: flex;
		flex-wrap: wrap;
		row-gap: 2rem;
		column-gap: .625rem;

	}
	&__item{
		user-select: none;
		padding-bottom: .125rem;
		display: flex;
		align-items: end;
	}
	&__link{
		font-size: 1rem;
		text-transform: capitalize;
		transition: font-size 0.7s;
		&:hover{
			font-size: 1.0625rem;
		}
	}
}
//Header
.header{
	position: relative;
	min-height: 46.875rem;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-image: url('../img/header-bg/home-1x.jpg');
}
//Hero
.hero{
	position: absolute;
	right: 11.25rem;
	top: 10.125rem;
	max-width: 22.5rem;
	color: #ffffff;
	text-align: center;
	&__title{
		font-size: 2.9375rem;
		margin-bottom: 1.5rem;
		text-transform: capitalize;
	}
	&__text{
		font-size: .875rem;
		margin-bottom: 3rem;
		&>a{
			transition: color 0.5s;
			&:hover{
				color: #ada29c;
			}
			&:active{
				color: #796e68;
			}
		}
	}
	&__button{
		font-size: .8125rem;
		color: white;
		padding: .5625rem .8125rem .5625rem .8125rem;
		background-color: inherit;
		border: .0625rem solid white;
		transition-property: background-color;
		transition-duration: 0.5s;
		&:hover{
			background-color: rgba(255, 255, 255, 0.062);
		}
		&:active{
			background-color: rgba(255, 255, 255, 0.205);
		}
	}
}
//SECTION 1
.sect1{
	margin-top: 5rem;
	&__title{
		text-align: center;
		font-size: 1.875rem;
		margin-bottom: 4.375rem;
	}
	&__info{
		margin-bottom: 8.375rem;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		row-gap: 7.5rem;
		column-gap: 1.875rem;
	}
	&__texts{
		max-width: 28.125rem;
		display: flex;
		flex-direction: column;
		row-gap: 2.1875rem;
		&-title{
			margin-top: 1.5625rem;
			font-size: 1.875rem;
		}
	}
	&__img{
		max-width: 19.8125rem;
	}
	&__text1, &__text2{
		font-size: 1rem;
	}
	&__button{
		display: flex;
		justify-content: center;
		margin-bottom: 6.25rem;
		@extend %buttonMore;
		&:hover{
			background-color: rgba(0, 0, 0, 0.068);
		}
		&:active{
			background-color: rgba(0, 0, 0, 0.123);
		}
	}
	&>hr{
		height: 1px;
		background-color: rgba(131, 127, 127, 1);;
	}
}
//Section2
.sect2{
	margin-top: 4rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #837f7f;
	&__title{
		font-size: 2.25rem;
		text-align: center;
		margin-bottom: 1.9375rem;
	}
	&__choose{
		margin-bottom: 6.3125rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		row-gap: .7813rem;
		column-gap: 1rem;
		& > p > button{
			text-decoration: none;
			background-color: inherit;
			font-size: 1rem;
			font-family: 'Playfair Display';
			padding-bottom: .5938rem;
			padding-right: 1.0625rem;
			padding-left: 17px;
		}
		
	}
	&__articles{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		justify-content: center;
		column-gap: 5.75rem;
		row-gap: 4.75rem;
		margin-bottom: 7.375rem;
	}
	&__button{
		@extend %buttonMore;
		display: flex;
		justify-content: center;
		margin-bottom: 7.25rem;
		&:hover{
			background-color: rgba(0, 0, 0, 0.068);
		}
		&:active{
			background-color: rgba(0, 0, 0, 0.123);
		}
	}
}
[class*='opinion']{
	box-shadow: 0 1px 0 0 black; 
}
.article{
	transform: scale(1);
		transition: transform 1s;
		&:hover{
			transform: scale(1.05);
		}
	&__title{
		margin-top: 1rem;
		transition: color 0.5s;
		font-size: 1.25rem;
		max-width: 12.1875rem;
		&:hover{
			color: #502a15;
		}
	}
}
//Adaptive
@media (max-width:160em){ // 2560/16
	html{
		font-size: 35px;
	}
}
@media (max-width:91em){ // 1456/16
	html{
		font-size: 20px;
	}
}
@media (max-width:91em){ // 1456/16
	html{
		font-size: 20px;
	}
}
@media (max-width: 48em){// 768/16 
	html{
		font-size: 15px;// 4/16
	}

	.sect2__articles{
		grid-template-columns: repeat(2, 12.5rem);
		column-gap: 3.75rem;
		justify-self: center;
		row-gap: 2.5rem;
	}
	.nav__container{
		padding-bottom: .25rem;
	}
	.hero{
		position: static;
		padding-top: 10.125rem;
		margin: 0 auto;
		max-width: 22.5rem;
		color: #ffffff;
		text-align: center;
	}
}
@media (max-width: 37.5em){ // 600/16
	html{
		font-size: 14px;
	}
	.nav{
		&__burger{
			background-color: inherit;
			display: block;
			position: relative;
			top: -2.3125rem;
			transform: translateY(120%);
			left: 93%; /* или left, если нужно */
			width: 16px;
			height: 12px;
			& span{
				position: absolute;
				background-color: #ffffff;
				position: absolute;
				left: 0;
				width: 100%;
				height: .0625rem;
				top: 50%;
				transition: all 0.3s ease 0s;
			}
			&::before,
			&::after{
				content: '';
				background-color: #f1f1f1;
				position: absolute;
				width: 100%;
				height: .0625rem;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&::before{
				top: 0;
			}
			&::after{
				bottom: 0;
			}
			&.active{
				&::before{
					transform: rotate(45deg);
					top: 5px;
				}
				&::after{
					transform: rotate(-45deg);
					bottom: 5.5px;
				}
				& span{
					transform: scale(0);
				}
			}
		}
		&__list{
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #1f1f1f;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
			row-gap: .9375rem;
			padding-top: 4.375rem;
			transition: all 0.3s ease 0s;
			&.active{
				top: 0;
			}
		}
	}
}
@media (max-width: 26.5625em){ // 425/16
	html{
		font-size: 13px;
	}
	.sect2__articles{
		grid-template-columns: 12.5rem;
		column-gap: 3.75rem;
		justify-self: center;
		row-gap: 2.5rem;
	}
} 
@media (max-width: 23.4375em){ // 375/16
	html{
		font-size: 12px;
	}
	.sect2__articles{
		grid-template-columns: repeat(2, 12.5rem);
		justify-self: center;
		row-gap: 2.5rem;
	}
} 
@media (max-width: 20em){ // 320/16
	html{
		font-size: 11px;
	}
	.sect2__articles{
		grid-template-columns: repeat(1, 12.5rem);
		justify-self: center;
		row-gap: 2.5rem;
	}
} 