@import url('https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap');;
/*@font-face {
//    font-family: 'Praysire';
//    src: url('../fonts/praysiredemo-yw52q.woff2');
//    font-display: swap;
//    font-weight: 400;
//    font-style: normal;
//}
*/