/*Обнулення*/
@import url("./reset.css");
/*Шрифти*/
@import url("./fonts.css");

*{
    font-family: 'Lato';
    font-weight: 500;
}
.wrapper {
	position: relative;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > .main {
	flex-grow: 1;
}
/*Navigation Menu*/
.nav{
    padding: 15px 50px 15px 50px;
}
.nav__body{
    padding-bottom: 5px;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.514);
}
.nav__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 15px;
}
.nav__item{
    display: inline-block;
}
.nav__title{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 2px;
}
.nav__link{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.nav__link:hover{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.315);
    transition: all 0.4s;
}
/*Main*/
.main{
    padding: 20px 150px 0 150px;
}
/*Block1*/
.block1__text{
    text-align: center;
    padding-bottom: 82px;
}
.title{
    color: #2f302c;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 15px;
}
.menu-list__text, .label{
    font-weight: 700;
    color: #2f302c;
    font-family: Lato;
    letter-spacing: 0%;
    font-size: 16px;
}
.menu-list__text{
    position: relative
}
.menu-list__text::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    background-color: #2f302c;
    width: 0%;
    height: 1px;
    transition: width 0.5s;
}
.menu-list__text:hover{
    width: 100%;
}
.product{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px 72px;
}
.product__item{
    flex-basis: 440px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}
.product__img{
    width: 100%;
}
.label--product{
    text-align: center;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 12px;
    color:#2f302c;
}
.star-list{
    display: flex;
    justify-content: center;
    gap: 6px 6px;
}
.star-list__star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #2f302c;
    width: 16px;
    height: 16px;
}
.product__price{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
/*Block2*/
.block2{
    padding-top: 82px;
}
.block2__title{
    text-align: center;
}
.feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 68px;
}
.feature__item{
    flex-basis: 348px;
    flex-grow: 0;
    flex-shrink: 0;
}
.feature__item>*:not(:last-child){
    margin-bottom: 24px;
}
.feature__img{
    width: 60px;
    height: 60px;
    margin: 0 144px 0 144px;
}
.feature__name{
    text-align: center;
}
.feature__text{
    color: #7e7f7c;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: center;
}
/*Footer*/
.footer{
    padding: 25px 5px 25px 5px;
    text-align: center;
    text-decoration: overline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}