@charset "UTF-8";
/* Скидання стилів */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

label {
  display: inline-block;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

/* Локальне підключення шрифтів */
@font-face {
  font-family: "Praysire";
  src: url("../fonts/praysiredemo-yw52q.woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
/* Підключення шрифтів */
/* Основні стилі */
/* Значення за замовченням  */
body {
  color: #343434;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper {
  position: relative;
  /*min-height: 100%;*/
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* ------------------------------------------------------------------- */
[class*=__container] {
  max-width: 1237px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------------------------------------------------------------- */