// Скидання стилів 
@use "_reset.scss";

// Локальне підключення шрифтів 
@use "_fonts.scss";

// Підключення математики
@use "sass:math";

// Значення за замовченням  
body {
	color: #000000;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1rem;
}
.wrapper {
	position: relative;
	//min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
//------------------------------------------------
[class*="__container"] {
	max-width: 88.875rem;
	padding-left: .9375rem;
	padding-right: .9375rem;
	margin: 0 auto;
}//------------------------------------------------
$greyColor: rgba(126, 127, 124, 1);
$blackColor: rgba(47, 48, 44, 1);

%mediumText{
	font-size: 1rem;
	font-weight: 500;
	line-height: 125%; // 20/16 
	color: $greyColor;
}
%extraBoldText{
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 140%; // 28/20 
}
%boldText{
	font-size: 1rem;
	font-weight: 700;
	color: $blackColor;
	line-height: 125%; // 20/16 
}
//------------------------------------------------
//Main
//block1
.bl1-article{
	&__title{
		margin-bottom: 1.5rem;
		text-transform: uppercase;
		@extend %extraBoldText;
	}
	&__text{
		margin-bottom: 2.375rem;
		@extend %mediumText;
	}
	&__link{
		display: block;
		transition: all 0.4s ease 0s;
		@extend %mediumText;
		&:hover{
			color: rgb(106, 106, 106);
		}
		&:active{
			color: #2F302C;
		}
	}
	&__img1{
		position: absolute;
		top: -0.9375rem;
		left: 5rem;
		width: 9.4375rem;
	}
	&__img2{
		position: absolute;
		left: 10.5rem;
		width: 7.5625rem;
	}

}
.block1{
	margin-top: 3.125rem;
	margin-bottom: 6.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2.25rem;
	justify-content: center;
	&__article{
		text-align: left;
		max-width: 20.0625rem;
		max-height: 36.5rem;
		background-color: #f7f7f7;
		&1{
			position: relative;
			padding: 0 2.875rem 4rem 2.25rem;
			overflow: hidden;
			& > :nth-child(3){
				margin-top: 20.625rem;
			}
		}
		&2{
			padding: 3rem 4.6875rem 0 4.6875rem;
			max-width: 42.375rem;
			background-color: #e6efea;
			text-align: center;
			& > a{
				margin-bottom: 6.0625rem;
			}
			& > picture{
				width: 33.0625rem;
			}
		}
		&2 > p{
			margin: 0 auto;
			text-align: center;
			max-width: 19.375rem;
			margin-bottom: 1.125rem;
		}
		&1 > p, &3 > p{
			max-width: 14.9375rem;
		}
		&3{
			position: relative;
			padding: 3rem 2.875rem 0 2.25rem;
			overflow: hidden;
			& > picture{
				position: absolute;
				bottom: -2rem;
			}
		}
	}
}
//section2
.sect2{
	margin-bottom: 10.25rem;
	text-align: center;
	&__title{
		margin-bottom: 2.25rem;
		text-transform: uppercase;
		@extend %extraBoldText;
		font-size: 2rem;
	}
	&__opinions{
		row-gap: 3rem;
		column-gap: 1.5rem;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	&__opinion{
		padding-bottom: .5rem;
		margin-bottom: 4.5rem;
		transition: all 0.5s ease 0s;
		@extend %boldText;
		&:hover{
			box-shadow: 0 .0625rem 0 0 rgb(0, 0, 0);
		}
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		justify-items: center;
		row-gap: 2.25rem;
		column-gap: 4.5rem;
	}

}
.item{
	max-width: 27.5rem;
	max-height: 43.375rem;
	&__title{
		margin-top: 2rem;
		margin-bottom: .875rem;
		text-transform: uppercase;
		transition: all 0.4s;
		@extend %mediumText;
		&:hover{
			color: $blackColor;
		}
		&:active{
			font-weight: 700;
		}
	}
	&__info{
		margin-bottom: .9375rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: .5rem;
		&:hover .item__star{
			transform: scale(1.4);
		}
	}
	&__star{
		display: inline-block;
		width: .75rem;
		height: .75rem;
		background-color: $blackColor;
		clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				transition-duration: #{($i - 1) * 0.5}s;;
			}
		}
	}
	&__price{
		text-transform: uppercase;
		transition: all 0.5s;
		@extend %extraBoldText;
		&:hover{
			color: rgb(48, 46, 46);
		}
	}
}
//sect3
.sect3{
	text-align: center;
	&__title{
		margin-bottom: 4.5rem;
		text-transform: uppercase;
		@extend %extraBoldText;
		font-size: 2rem;
	}
	&__features{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		justify-items: center;
		gap: 4.25rem;
	}
}
.feature{
	text-align: center;
	max-width: 21.75rem;
	max-height: 13rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
	&__img{
		width: 3.75rem;
		height: 3.75rem;
		animation-name: rotate-element;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
	&__title{
		text-transform: uppercase;
		@extend %boldText;
	}
	&__text{
		@extend %mediumText;
	}
}
@keyframes rotate-element{
	0%{
		rotate: 0deg;
	}
	25%{
		rotate: -10deg;
	}
	50%{
		rotate: 0deg;
	}
	75%{
		rotate: 10deg;
	}
	100%{
		rotate: 0deg;
	}
}
//Adaptation
@media (max-width: 88.875em){ //1422px
	.block1{
		&__article{
			&1{
				order: 1;
			}
			&2{
				order: 3;
			}
			&3{
				order: 2;
				height: 36.5rem;
			}
		}
	}
}
@media (max-width: 64em){ // 1024px
	.sect2{
		&__items{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.sect3{
		&__features{
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (max-width: 44.125em){ // 706px
	html{
		font-size: 14px;
	}
	.block1{
		&__article{
			&1{
				order: 2;
			}
			&2{
				order: 1;
			}
			&3{
				order: 3;
			}
		}
	}
	.sect2{
		&__items{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.sect3{
		&__features{
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media (max-width: 38.125em){ //610px
	html{
		font-size: 12px;
	}
	.block1{
		&__article{
			&1{
				order: 1;
				height: 25rem;
				& > :nth-child(3){
					margin-top: 10.625rem;
				}
			}
			&2{
				padding: 1.25rem 4.6875rem 0 4.6875rem;
				order: 2;
				width: 100%;
				height: 25rem;
				& > a{
					margin-bottom: 0;
				}

			}
			&3{
				padding-top: 1.25rem;
				order: 3;
				height: 25rem;
			}
		}
	}
	.sect2{
		&__items{
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media (max-width: 27em){ // 432
	html{
		font-size: 11px;
	}
}
@media (max-width: 27em){ // 432
	html{
		font-size: 11px;
	}
}
@media (max-width: 23.4375em){ // 375
	html{
		font-size: 9px;
	}
	.block1{
		&__article{
			&2{
				& > a{
					margin-bottom: 1.25rem;
				}
			}
		}
	}
}
