@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.ttf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-ExtraBold.ttf');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}