/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення шрифтів */

/* Основні стилі */

/* Значення за замовченням  */
body {
	color: #7e7f7c;
	font-family: "Lato", sans-serif;

	background-color: #333;
}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------------------------------------------------- */
[class*="__container"] {
	max-width: 1422px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
/* ------------------------------------------------------------------- */
.header {
	background-color: white;
}
.header__container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 80px 40px;
}
/*Logo---------------*/
.header__logo2 {
	display: none;
}
/*Search--------------*/
.header__search {
	flex-basis: 264px;
}
.search-header {
	display: flex;
	overflow: hidden;
	border-bottom: 1px solid #d4d4d4;
}
.search-header__button {
	width: 20px;
	flex-shrink: 0;
	background: left no-repeat;
	background-image: url("../img/search.svg");
}
.search-header__input {
	padding-left: 15px;
	padding-right: 15px;
	height: 43px;
}
/*Menu------------------*/
.menu {
    flex-grow: 1;
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 44px 20px;
    flex-wrap: wrap;
}
.menu__link {
	color: #2f302c;
	font-size: 16px;
	font-weight: 700;
}
.menu__link{
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 115%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.3s;
}
.menu__link:hover{
	background-size: 100% 3px;
}
/*Action Menu -------------*/
.action-header {
	display: flex;
	flex-wrap: nowrap;
	gap: 44px 20px;
}
.action-header__link {
	padding-left: 24px;
	color: #2f302c;
	font-size: 16px;
	font-weight: 700;
}
.action-header__link--love{
	background: url("../img/action-heart.svg") left no-repeat;
}
.action-header__link--cart{
	background: url("../img/action-buy.svg") left no-repeat;
}
/*Adaptation-----------------------*/
@media(max-width:1342px){
	.header__container{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
@media(max-width:1130px){
	.search-header{
		flex-basis: 190px;
	}
}
@media(max-width:1024px){
	.header__container{
		min-height: 100px;
		gap: 30px;
	}
	.header__logo{
		display: none;
	}
	.header__logo2{
		display: block;
		width: 37px;
	}
}
@media(max-width: 800px){
	.header__container{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.icon-menu,
	.header__action,
	.header__logo,
	.header__search {
		position: relative;
		z-index: 3;
	}
	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		width: 30px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #2f302c;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 120px 15px 30px 15px;
	}
	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}

	.menu__list {
		row-gap: 30px;
		flex-direction: column;
	}
	.menu__link {
		font-size: 28px;
	}

	.header__search {
		flex-grow: 1;
	}
	.action-header__link {
		width: 25px;
		aspect-ratio: 1;
		padding-left: 0;
		font-size: 0;
		line-height: 1;
		background-size: contain;
	}
	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}
@media (max-width: 480px) {
	.header__container {
		gap: 15px;
	}
	.header__logo {
		width: 28px;
	}
	.header__image-logo {
		width: 154px;
	}
	.action-header {
		gap: 8px 15px;
	}
	.search-header {
		border-radius: 5px;
		border: 1px solid #d4d4d4;
	}
	.search-header__button {
		display: none;
	}
	.search-header__input {
		height: 33px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

