@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');

@font-face {
    font-family: 'Praysire';
    src: url('../fonts/praysiredemo-yw52q.woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
