@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

label {
  display: inline-block;
}

strong {
  font-weight: inherit;
}

mark {
  background-color: inherit;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

/*@font-face {
//    font-family: 'Praysire';
//    src: url('../fonts/praysiredemo-yw52q.woff2');
//    font-display: swap;
//    font-weight: 400;
//    font-style: normal;
//}
*/
body {
  color: #000000;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1rem;
}

.wrapper {
  position: relative;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 66.3125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.sect2__button, .sect1__button {
  margin: 0 auto;
  text-align: center;
  font-size: 0.8125rem;
  color: black;
  padding: 0.625rem 3.125rem 0.625rem 3.125rem;
  background-color: inherit;
  border: 0.0625rem solid #000000;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: rgb(31, 31, 31);
  z-index: 500;
}
.nav__body {
  color: #ffffff;
  padding-left: 1.6875rem;
  padding-right: 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*max-height: 3rem;*/
  font-size: 2.25rem;
  z-index: 800;
}
.nav__list {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.nav__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 0.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.nav__link {
  font-size: 1rem;
  text-transform: capitalize;
  -webkit-transition: font-size 0.7s;
  transition: font-size 0.7s;
}
.nav__link:hover {
  font-size: 1.0625rem;
}

.header {
  position: relative;
  min-height: 46.875rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/header-bg/home-1x.jpg");
}

.hero {
  position: absolute;
  right: 11.25rem;
  top: 10.125rem;
  max-width: 22.5rem;
  color: #ffffff;
  text-align: center;
}
.hero__title {
  font-size: 2.9375rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.hero__text {
  font-size: 0.875rem;
  margin-bottom: 3rem;
}
.hero__text > a {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.hero__text > a:hover {
  color: #ada29c;
}
.hero__text > a:active {
  color: #796e68;
}
.hero__button {
  font-size: 0.8125rem;
  color: white;
  padding: 0.5625rem 0.8125rem 0.5625rem 0.8125rem;
  background-color: inherit;
  border: 0.0625rem solid white;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.hero__button:hover {
  background-color: rgba(255, 255, 255, 0.062);
}
.hero__button:active {
  background-color: rgba(255, 255, 255, 0.205);
}

.sect1 {
  margin-top: 5rem;
}
.sect1__title {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 4.375rem;
}
.sect1__info {
  margin-bottom: 8.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 7.5rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.sect1__texts {
  max-width: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.1875rem;
}
.sect1__texts-title {
  margin-top: 1.5625rem;
  font-size: 1.875rem;
}
.sect1__img {
  max-width: 19.8125rem;
}
.sect1__text1, .sect1__text2 {
  font-size: 1rem;
}
.sect1__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6.25rem;
}
.sect1__button:hover {
  background-color: rgba(0, 0, 0, 0.068);
}
.sect1__button:active {
  background-color: rgba(0, 0, 0, 0.123);
}
.sect1 > hr {
  height: 1px;
  background-color: rgb(131, 127, 127);
}

.sect2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #837f7f;
}
.sect2__title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1.9375rem;
}
.sect2__choose {
  margin-bottom: 6.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.7813rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.sect2__choose > p > button {
  text-decoration: none;
  background-color: inherit;
  font-size: 1rem;
  font-family: "Playfair Display";
  padding-bottom: 0.5938rem;
  padding-right: 1.0625rem;
  padding-left: 17px;
}
.sect2__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5.75rem;
     -moz-column-gap: 5.75rem;
          column-gap: 5.75rem;
  row-gap: 4.75rem;
  margin-bottom: 7.375rem;
}
.sect2__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7.25rem;
}
.sect2__button:hover {
  background-color: rgba(0, 0, 0, 0.068);
}
.sect2__button:active {
  background-color: rgba(0, 0, 0, 0.123);
}

[class*=opinion] {
  -webkit-box-shadow: 0 1px 0 0 black;
          box-shadow: 0 1px 0 0 black;
}

.article {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.article:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.article__title {
  margin-top: 1rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 1.25rem;
  max-width: 12.1875rem;
}
.article__title:hover {
  color: #502a15;
}

@media (max-width: 160em) {
  html {
    font-size: 35px;
  }
}
@media (max-width: 91em) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 91em) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 15px;
  }
  .sect2__articles {
    grid-template-columns: repeat(2, 12.5rem);
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
    justify-self: center;
    row-gap: 2.5rem;
  }
  .nav__container {
    padding-bottom: 0.25rem;
  }
  .hero {
    position: static;
    padding-top: 10.125rem;
    margin: 0 auto;
    max-width: 22.5rem;
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 14px;
  }
  .nav__burger {
    background-color: inherit;
    display: block;
    position: relative;
    top: -2.3125rem;
    -webkit-transform: translateY(120%);
        -ms-transform: translateY(120%);
            transform: translateY(120%);
    left: 93%; /* или left, если нужно */
    width: 16px;
    height: 12px;
  }
  .nav__burger span {
    position: absolute;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__burger::before, .nav__burger::after {
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    height: 0.0625rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 5px;
  }
  .nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5.5px;
  }
  .nav__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .nav__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.9375rem;
    padding-top: 4.375rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__list.active {
    top: 0;
  }
}
@media (max-width: 26.5625em) {
  html {
    font-size: 13px;
  }
  .sect2__articles {
    grid-template-columns: 12.5rem;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
    justify-self: center;
    row-gap: 2.5rem;
  }
}
@media (max-width: 23.4375em) {
  html {
    font-size: 12px;
  }
  .sect2__articles {
    grid-template-columns: repeat(2, 12.5rem);
    justify-self: center;
    row-gap: 2.5rem;
  }
}
@media (max-width: 20em) {
  html {
    font-size: 11px;
  }
  .sect2__articles {
    grid-template-columns: repeat(1, 12.5rem);
    justify-self: center;
    row-gap: 2.5rem;
  }
}