/*Обнулення*/
@import url("./reset.css");
/*Шрифти*/
@import url("./fonts.css");

section{
    padding-top: 82px;
    padding: 82px 85px 82px 85px;
    width: 1240px auto;
    margin: 0 auto;
}
section>h1{
    color: #2f302c;
    font-family: Lato;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 72px;
}
.row1{
    max-width: 1200px;
	margin: 0 auto;
	background-color: #794f45;
    margin-bottom: 68px;
}
.item{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 348px auto;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.item>img{
    width: 60px;
    margin-bottom: 24px;
}
.item>h3{
    color: #2f302c;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.item>p{
    max-width: 348px;
    height: 80px;
    color: #7e7f7c;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.item .item-02, .item .item-04{
    margin-right: 68px;
    margin-left: 68px;
}
